<a href="https://colab.research.google.com/github/yahyalito/Analysis-of-Interpol-Dataset/blob/master/Analysis_of_Interpol_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset https://bit.ly/InterpolDataset

In [1]:
# We will first load the sql extension into our environment
#
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed
#
%sql sqlite://

'Connected: @None'

In [0]:
# Importing the python libraries that we will need in this notebook
#
import csv
import pandas as pd

In [0]:
# Loading the table from a local CSV file
#
with open('Countries.csv','r') as f:
    Interpol = pd.read_csv(f, index_col=0, encoding='utf-8')

In [4]:
# Then storing it in an SQL table of our in memory sqlite database
#
%sql DROP TABLE if EXISTS Interpol;
%sql PERSIST Interpol;

 * sqlite://
Done.
 * sqlite://

'Persisted interpol'

In [5]:
# Let's preview our Interpol table so that we can understand it
# 
#
%sql select * from Interpol limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif')]

In [6]:
#Let's get the European countries without National fugitives  
# 
%%sql
SELECT Country FROM Interpol  WHERE "National Fugitives" = 0;

 * sqlite://
Done.

[('Angola',),
 ('Belgium',),
 ('Bolivia',),
 ('Botswana',),
 ('Cambodia',),
 ('Cayman Islands',),
 ('Congo',),
 ('Costa Rica',),
 ('Cura√ßao',),
 ('Denmark',),
 ('Ecuador',),
 ('France',),
 ('India',),
 ('Lesotho',),
 ('Macedonia',),
 ('Mali',),
 ('Malta',),
 ('Mozambique',),
 ('Namibia',),
 ('New Zealand',),
 ('Norway',),
 ('Panama',),
 ('Qatar',),
 ('Serbia',),
 ('Tanzania',),
 ('Turkey',),
 ('Venezuela',),
 ('Zimbabwe',)]

In [7]:
#Let's select the regions without National fugitives
#
%%sql
SELECT Region FROM Interpol WHERE "National Fugitives" = 0;

 * sqlite://
Done.

[('Northern Africa',),
 ('Europe',),
 ('South America',),
 ('Southern Africa',),
 ('Asia',),
 ('Central America',),
 ('Sub Saharan Africa',),
 ('Central America',),
 ('Central America',),
 ('Europe',),
 ('South America',),
 ('Europe',),
 ('Asia',),
 ('Southern Africa',),
 ('Europe',),
 ('Sub Saharan Africa',),
 ('Europe',),
 ('Southern Africa',),
 ('Southern Africa',),
 ('Oceania',),
 ('Europe',),
 ('Central America',),
 ('Asia',),
 ('Europe',),
 ('Sub Saharan Africa',),
 ('Europe',),
 ('South America',),
 ('Southern Africa',)]

In [8]:
#let us get the Northern African countries that  
# do not host possible fugitives or captured fugitives
# 
%%sql

SELECT * FROM Interpol
WHERE Region = "Northern Africa" AND "Possible Hosted Fugitives / Captured Fugitives" = 0

 * sqlite://
Done.

[]

confirming how true the answer above is

In [9]:
%%sql

SELECT * FROM Interpol
WHERE Region = "Northern Africa"

 * sqlite://
Done.

[('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Morocco', 2, 0, 3, 'Northern Africa', 'http://www.crwflags.com/fotw/images/m/ma.gif')]

In [10]:
#let us get the countries without a National fugitive and a Wanted fugitive
#
%%sql
SELECT Country FROM Interpol
WHERE "National Fugitives" = 0 AND "Wanted Fugitives" = 0

 * sqlite://
Done.

[('Angola',),
 ('Bolivia',),
 ('Cambodia',),
 ('Cayman Islands',),
 ('Congo',),
 ('Ecuador',),
 ('France',),
 ('India',),
 ('Lesotho',),
 ('Macedonia',),
 ('Malta',),
 ('Mozambique',),
 ('Namibia',),
 ('New Zealand',),
 ('Panama',),
 ('Qatar',),
 ('Serbia',),
 ('Turkey',),
 ('Zimbabwe',)]

In [11]:
#which european countries have 3 National Fugitives
#
%%sql 
SELECT Country FROM Interpol
WHERE Region = "Europe" AND "National Fugitives" = 3

 * sqlite://
Done.

[('Albania',), ('Czech Republic',), ('Montenegro',)]